*{
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#search-bar {
    position: absolute;
    z-index: 1000;
    left: 35%;
    top: 20%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

input {
    padding: 10px;
    border-radius: 25px;
    border: none;
    width: 200px;
    outline: none;
}

button, #choice-of-card{
    padding: 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
#choice-of-card {
    width: 100px;
    outline: none;
    text-align: center;
}



#info {
    position: absolute;
    left: 35%;
    top: 35%;
    /* background-color: rgb(95, 3, 22); */
    background:  linear-gradient(169deg, rgba(95,2,22,1) 0%, rgba(215,29,69,1) 35%, rgba(95,2,22,1) 100%);
    width: 500px;
    height: 500px;
    text-align: center;
    border-radius: 25px;
    color: white;
}
.hide-card {
    display: none;
}

h2, h3, h4, p {
    margin-top: 10px;
}


